body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background:white;
}

.container {
    width:80%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    padding: 40px;
    margin: 40px auto;
    display: flex;
    border:3px solid black;
    

}


.card {
    background-color: white;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border: 2px blue;
    }

.circle {
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 15px;
   }

h2 {
    margin: 10px 0;
    font-size: 22px;
}

p {
   margin: 5px 0 ;
   font-size: 14px;
}