h1{
    color:blue;
    text-align:center;
font-size:40px; }
p{
    color:teal;
    text-align:center;
    font-size:30px;
}
body{ 
    background-color:bisque;
    font-family:Arial, Helvetica, sans-serif
}